.nav_bg {
  background-color: #360ccd;
  height: 90px;
  z-index: -10;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
nav {
  background-color: #360ccd;
  color: #fefff3;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 80px;
  border-radius: 0px 0px 40px 40px;
}
.logo {
  background-image: url(../../Images/Logo.png);
  aspect-ratio: 1.677/1;
  height: 65px;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
nav ul {
  display: flex;
  gap: 74px;
}
nav li {
  cursor: pointer;
}
@media (max-width: 1200px) {
  nav {
    height: 81px;
    padding: 0px 40px;
  }
  .nav_bg {
    height: 81px;
  }
  .logo {
    height: 56px;
  }
  nav ul {
    gap: 65px;
  }
}

@media (max-width: 744px) {
  .nav_bg {
    height: 64px;
  }
  nav {
    height: 64px;
    padding: 0px 40px;
    border-radius: 0px 0px 20px 20px;
  }
  .logo {
    height: 48px;
  }
  nav ul {
    gap: 65px;
  }
  nav li {
    font-size: 28px;
  }
}

@media (max-width: 501px) {
  .nav_bg {
    height: 56px;
  }
  nav {
    height: 56px;
    padding: 0px 40px;
  }
  .logo {
    height: 48px;
  }
  nav ul {
    gap: 48px;
  }
  nav li {
    font-size: 24px;
  }
}
