.device_page {
  padding: 0 80px;
  padding-top: 64px;
}
.device_info {
  width: 100%;
  aspect-ratio: 1350/478;
  display: flex;
  gap: 48px;
}
.device_img {
  width: 50%;
  border: 1px solid #acacac;
  border-radius: 18px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 100px;
}
.device_information {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.device_information h3,
.device_information h5 {
  margin: 0;
  padding: 0;
}
.device_information h3 {
  font-weight: 500;
  font-size: 36px;
}
.device_information h5 {
  margin-top: 16px;
  line-height: 34px;
  font-size: 24px;
  font-weight: 300;
}

.filter .colors {
  display: flex;
  gap: 16px;
}
.filter .colors div {
  width: 67px;
  height: 69px;
  border-radius: 9px;
  cursor: pointer;
}

.filter p {
  margin: 17px 0;
  padding: 0;
  font-size: 32px;
  font-weight: 400;
}
.memory_btns {
  display: flex;
  gap: 18px;
}
.memory_btns > div {
  width: 128px;
  height: 66px;
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9px;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
}
@media (max-width: 1500px) {
  .device_information h3 {
    font-size: 32px;
  }
  .device_information h5 {
    margin-top: 8px;
    line-height: 28px;
    font-size: 20px;
  }
  .filter p {
    margin: 12px 0;
    font-size: 24px;
  }
  .memory_btns > div {
    width: 96px;
    height: 48px;
    font-size: 16px;
  }
  .filter .colors div {
    width: 48px;
    height: 48px;
    border-radius: 9px;
  }
}

@media (max-width: 1200px) {
  .device_page {
    padding: 0 40px;
    padding-top: 64px;
  }
  .device_info {
    gap: 32px;
  }
}
@media (max-width: 1050px) {
  .device_information h3 {
    font-size: 22px;
  }
  .device_information h5 {
    margin-top: 4px;
    line-height: 24px;
    font-size: 16px;
  }
  .filter p {
    margin: 4px 0;
    font-size: 18px;
  }
  .device_page {
    padding-top: 40px;
  }

  .memory_btns {
    gap: 8px;
  }
  .filter .colors {
    gap: 8px;
  }
  .filter .colors div {
    width: 40px;
    height: 40px;
  }
  .device_info {
    gap: 20px;
  }
}
@media (max-width: 780px) {
  .device_information h3 {
    font-size: 20px;
  }
  .device_information h5 {
    margin-top: 4px;
    line-height: 16px;
    font-size: 14px;
  }
  .filter p {
    margin: 4px 0;
    font-size: 18px;
  }
  .memory_btns > div {
    width: 66px;
    height: 34px;
    font-size: 14px;
  }
  .filter .colors div {
    width: 40px;
    height: 40px;
  }
  .memory_btns {
    gap: 8px;
  }
  .filter .colors {
    gap: 8px;
  }
  .filter .colors div {
    width: 34px;
    height: 34px;
  }
  .device_info {
    gap: 20px;
  }
  .device_img {
    border-radius: 12px;
  }
}

@media (max-width: 660px) {
  .device_info {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .device_img {
    width: 100%;
    aspect-ratio: 366/238;
    border-radius: 12px;

    border: 0px solid #acacac;
  }

  .device_information {
    width: 100%;
    display: flex;
  }
  .device_information h3,
  .device_information h5 {
    margin: 0;
    padding: 0;
  }
  .device_information h3 {
    font-weight: 500;
    font-size: 22px;
  }
  .device_information h5 {
    margin-top: 9px;
    line-height: 20px;
    font-size: 16px;
  }

  .filter .colors {
    gap: 12px;
  }
  .filter .colors div {
    width: 38px;
    height: 40px;
    border-radius: 9px;
  }
  .filter p {
    margin-top: 22px;
    margin-bottom: 8px;
    font-size: 18px;
  }
  .memory_btns {
    gap: 14px;
  }
  .memory_btns > div {
    width: 85px;
    height: 40px;
    border-radius: 9px;
    font-size: 16px;
    font-weight: 400;
  }
}
@media (max-width: 500px) {
  .device_page {
    padding: 20px 24px;
  }
}
@media (max-width: 387px) {
  .device_page {
    padding: 20px 35px;
  }
}
@media (max-width: 327px) {
  .device_page {
    padding: 10px 10px;
  }
}
